# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db
